body {
background-color: bisque;
}
.cat-info {
  display: flex;
  margin-top: 10px;   
}

.cat-img {
  display: block;
}

.cat-description {
  margin-left: 10px;
}

.description {
font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 48px;


letter-spacing: 2px;

color: #000000;
}

.name-cat {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 35;
}